.books--item {
    // border: 2px solid red;
    // width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 200px;
    min-height: 300px;
    // overflow: hidden;
    & > a > img {
        margin-bottom: 28px;
        box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        object-fit: cover;
    }
    .about {
        position: absolute;
        width: 200px;
        background-color: #fdbf0f;
        color: #3d3c3c;
        top: 50%;
        transform: translateY(-50%);
        padding-top: 1rem;
        p {
            font-weight: bold;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;
            font-size: 20px;
            span {
                font-size: 16px;
                font-weight: normal;
            }
        }
    }
    .buy {
        & > div:first-child {
            display: flex;
            justify-content: center;
            .price {
                padding: 14px 32px;
                border: 2px solid #3d3c3c;
                border-radius: 20px;
                display: inline-block;
            }
        }
        .buy--btn {
            margin-top: 10px;
            padding-block: 10px;
            width: 100%;
            background-color: #fdbf0f;
            border: 2px solid #3d3c3c;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
                background-color: #f9784b;
            }
        }
    }
    .update--cart {
        margin-top: 0.8rem;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        span.count {
            font-size: 1.2rem;
        }
        button {
            padding: 0.1rem 1rem;
            font-size: 2rem;
            background-color: transparent;
            border: 2px solid #3d3c3c;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}
