@mixin grid_books_catalog() {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 2rem;
    row-gap: 2rem;

    @media screen and (max-width: 600px) {
        grid-template-columns: 100%;
    }
}

.all--books {
    .books {
        @include grid_books_catalog();
    }
    .loading-cat {
        width: 100%;
        height: 100vh;
        background-color: red;
        display: block;
        &.hide {
            display: none;
        }
    }
    .search--books {
        margin-bottom: 4rem;
        .search--input {
            width: 530px;
            margin: 0 auto;
            position: relative;
            margin-bottom: 4rem;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translate(10px, 12px);
                background-color: #fdbf0f;
                border-radius: 50px;
                z-index: -1;
                @media screen and (max-width: 600px) {
                    transform: translate(2px, 5px);
                }
            }
            input {
                width: 100%;
                height: 42px;
                border: 2px solid #3d3c3c;
                border-radius: 50px;
                padding-inline: 2rem;
                background-color: #ffffff;
            }
            .search--result {
                position: absolute;
                margin-top: 20px;
                width: 100%;
                border: 2px solid #3d3c3c;
                border-radius: 20px;
                z-index: 10;
                background-color: white;
                padding: 2rem;
                height: 200px;
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                &::-webkit-scrollbar {
                    display: none;
                }
                & > a > div {
                    padding-block: 1rem;
                    background-color: #fdbf0f;
                    display: flex;
                    gap: 2rem;
                    border-width: 2px 0;
                    border-style: solid;
                    border-color: #3d3c3c;
                    & > div {
                        display: flex;
                        flex-direction: column;
                        // gap: 2rem;
                        justify-content: space-evenly;
                    }
                }
            }
        }
    }

    .filter {
        display: flex;
        justify-content: space-between;
    }
    .nothing {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        // border: 2px solid red;
        padding: 4rem;
    }

    .more {
        text-align: center;
        margin-top: 2rem;
        & > button {
            padding: 1rem 2rem;
            border: 2px solid #3d3c3c;
            border-radius: 20px;
            font-weight: 700;
            background-color: #fdbf0f;
            color: #3d3c3c;
            transition: all 0.5s;
            cursor: pointer;
            &:hover {
                background-color: #f9784b;
                color: white;
            }
        }
    }

    @media screen and (max-width: 600px) {
        .search--books {
            width: 100%;
            .search--input {
                width: 100%;
            }
            .filter {
                flex-direction: column;
                gap: 2rem;
            }
        }
    }
}
