*,
::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flex($jc, $ai, $gap) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 60px 70px;
}

header {
    z-index: 10;
    @include flex(space-between, center, auto);
    margin-bottom: 4.375rem;
    .logo {
        @include flex(space-between, center, 0.5rem);
    }
    .cart {
        @include flex(space-between, center, 0.5rem);
    }
    a {
        text-decoration: none;
        color: #3d3c3c;
        font-size: 20px;
    }
    transition: 0.3s all;
    &.sticky {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        padding-inline: 70px;
        padding-block: 30px;
        width: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }

    .account--auth {
        display: flex;
        gap: 1rem;
    }
    .acct {
        text-decoration: underline;
        text-underline-offset: 10px;
        margin-right: 8px;
    }
    button {
        padding: 0.5rem 1rem;
        border: 2px solid #3d3c3c;
        color: #3d3c3c;
        font-weight: bold;
        letter-spacing: 1.5px;
        animation-name: bounce;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        background-color: #fdbf0f;
        transition: all 0.5s;
        &:hover {
            background-color: #f9784b;
        }
        &.login {
            border-radius: 8px;
        }
        &.sign {
            border-radius: 20px;
        }
        @keyframes bounce {
            from {
                transform: translateY(0);
                box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
            }
            to {
                transform: translateY(10%);
            }
        }
    }
}


button {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    body {
        padding: 30px 24px;
        // width: 100vw;
        overflow-x: hidden;
    }
}
