@use 'sass:math';
@import 'globals';

@mixin shadow($tx, $ty) {
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background-color: #fdbf0f;
        position: absolute;
        top: 0;
        z-index: -1;
        transform: translate($tx, $ty);
        @media screen and (max-width: 600px) {
            transform: translate(math.div($tx, 2), math.div($ty, 2));
        }
    }
}

.hero {
    @include flex(space-between, center, 2rem);
    margin-bottom: 220px;
    .left {
        // border: 1px solid red;
        color: #3d3c3c;
        .what {
            font-size: 64px;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        .explore {
            font-weight: 400;
            margin-block: 1rem 2rem;
        }
        .search {
            width: 100%;
            position: relative;
            max-width: 530px;
            margin-bottom: 2rem;
            @include shadow(10px, 10px);
            input {
                width: 100%;
                height: 42px;
                border-radius: 50px;
                border: 2px solid #3d3c3c;
                padding-inline: 2rem;
            }
            .search--result {
                position: absolute;
                width: 100%;
                border: 2px solid #3d3c3c;
                border-radius: 20px;
                z-index: 10;
                background-color: white;
                padding: 2rem;
                height: 200px;
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                &::-webkit-scrollbar {
                    display: none;
                }
                & > a > div {
                    padding-block: 1rem;
                    background-color: #fdbf0f;
                    display: flex;
                    gap: 2rem;
                    border-width: 2px 0;
                    border-style: solid;
                    border-color: #3d3c3c;
                    & > div {
                        display: flex;
                        flex-direction: column;
                        // gap: 2rem;
                        justify-content: space-evenly;
                    }
                }
            }
        }
        .btn--explore {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem 1.5625rem;
            border-radius: 10px;
            border: 2px solid #3d3c3c;
            color: #3d3c3c;
            background-color: #fdbf0f;
            transition: all 0.5s;
            cursor: pointer;
            &:hover {
                background-color: #f9784b;
            }
        }
    }
}

.trending--books {
    border: 1px dashed #3d3c3c;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 220px;
    .heading {
        text-align: center;
    }
}

.categories--section {
    margin-bottom: 13.75rem;
    .categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 62px;
        row-gap: 50px;
        & > a {
            text-decoration: none;
            color: #3d3c3c;
        }
        .category {
            border: 2px solid #3d3c3c;
            background-color: #ffffff;
            text-align: center;
            padding-block: 30px;
            font-size: 24px;
            border-radius: 10px;
            position: relative;
            cursor: pointer;
            transition: all 0.5s;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #f9784b;
                border-radius: 10px;
                transform: translate(14px, 14px);
                z-index: -1;
            }
            &:hover {
                background-color: #fdbf0f;
            }
        }
    }
}

.romance {
    margin-bottom: 96px;
}

@media screen and (max-width: 600px) {
    .hero {
        .left {
            .what {
                font-size: 36px;
            }
            .search {
                width: 100%;
                max-width: 100%;
            }
            .btn--explore {
                width: 100%;
                display: flex;
                justify-content: center;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    // background-color: red;
                    bottom: 0;
                    transform: translateY(50%);
                    border-bottom: 2px dashed #3d3c3c;
                }
            }
        }
        .right {
            display: none;
        }
    }

    .categories--section {
        .categories {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
